<div class="container my-5">
  <% flash.each do |msg_type, msg| %>
    <div class="alert alert-<%= msg_type %>"><%= msg %></div>
  <% end %>
  
  <%= @user.name %>
  <br>
  <%= @user.email %>

  <div id="posts_list" class="my-5">
    <%= render partial: "posts/posts_list", locals: { posts: @user.posts.order(created_at: :desc) } %>
  </div>
</div>
