<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="navbar navbar-dark navbar-expand bg-dark">
    <div class="container">
      <%= link_to "sample app", root_path, class: "navbar-brand", id: :header_logo %>
      <ul class="navbar-nav">
        <% if signed_in? %>
          <%# サインイン済みの場合のリンク %>
          <li class="nav-item"><%= link_to "Posts", posts_path, class: "nav-link", id: :header_posts_link %></li>
          <li class="nav-item"><%= link_to "Profile", current_user, class: "nav-link", id: :header_profile_link %></li>
          <li class="nav-item"><%= link_to "Sign out", sign_out_path, method: :delete, class: "nav-link", id: :header_sign_out_link %></li>
        <% else %>
          <%# 未サインインの場合のリンク %>
          <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link", id: :header_home_link %></li>
          <li class="nav-item"><%= link_to "Sign in", sign_in_path, class: "nav-link", id: :header_sign_in_link %></li>
        <% end %>
      </ul>
    </div>
  </header>

  <%= yield %>

  <footer class="bg-dark">
    <p class="text-center text-white py-2 mb-0">(c) Hoge Inc. All Rights Reserved.</p>
  </footer>
  </body>
</html>
